<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>

	<key>CFBundleDisplayName</key>
	<string>Service Provider Umi</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>service_provider_umi</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>

	<key>CFBundleSignature</key>
	<string>????</string>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>FlutterSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>

	<!-- Permissions -->

	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images.</string>

	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to capture photos for profile and service-related image uploads.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone for audio and video calls.</string>

	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to show nearby services and map features.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location to track services even in background.</string>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

</dict>
</plist>